[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt6 = "*"
pyinstaller = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
pytest-cov = "*"
pytest-qt = "*"

[requires]
python_version = "3.11"
